.css1{
    font-size: 100px;
    color: red;
    text-align: center;
    

    background-color: black;

    


}

body{
    /* background-color: rgba(209, 82, 177, 0.246); */
background-image: url("img/beach.jpg");
background-position: ;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100% 100%;

}



